.card-list-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.75rem;
		width: 246px;
		border-radius: 10px;
		border: 1px solid $secondary;
		background-color: $primary;
		cursor: pointer;

		.card-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			clear: both;
			overflow: hidden;

			.card-content {
				overflow: hidden;
				word-wrap: break-word;
			}

			.delete-card-btn {
				display: none;
				position: absolute;
				top: 4px;
				right: 4px;
				justify-content: center;
				align-items: center;
				width: 20px;
				height: 20px;
				border-radius: 10px;
				color: $dark;
				background-color: $white;
				@include text-style-16();
			}
		}

		&:hover .delete-card-btn {
			display: inline-flex;
			@include text-style-18();
		}
	}
}
