.card-list-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.75rem;
		border-radius: 10px;
		border: 1px solid $secondary;
		background-color: $primary;
		cursor: pointer;

		.card-title {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.delete-card-btn {
				display: none;
				justify-content: center;
				align-items: center;
				width: 16px;
				height: 16px;
				@include text-style-16();
			}
		}

		&:hover .delete-card-btn {
			display: inline-flex;
			@include text-style-18();
		}
	}
}
