.header {
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 25px;
	background-color: $dark-gray;
	.logo {
		.logo-container {
			width: 78px;
			height: 16px;

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
