.list-container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	color: $white;
	background-color: $medium-gray;

	textarea {
		height: 36px;
		line-height: 1.5rem;
		background-color: $gray;
		color: $white;
		overflow: scroll;
	}

	p,
	button {
		color: $white;
	}

	.list-item {
		min-width: 280px;
		border-radius: 10px;

		.list-item-container {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
			border: 1px solid $tertiary;
			background-color: $dark-gray;
			border-radius: 10px;
			box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

			.list-item-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.list-item-title {
					padding: 6px 8px;
					width: 90%;
					min-height: 36px;
					max-height: 256px;
					border: 1px solid $dark;
					font-weight: 600;
					border-radius: 6px;
					resize: none;
					color: $white;
					word-wrap: break-word;
					caret-color: $white;
					cursor: pointer;
					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */

					&:focus {
						border: 1px solid $blue;
					}

					&::-webkit-scrollbar {
						display: none; /* Chrome, Safari, Opera*/
					}
				}

				.delete-list-btn {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 18px;
					height: 18px;
					color: $white;
					@include text-style-18();
				}
			}
		}

		.card-creator-open-btn {
			display: inline-flex;
			align-items: center;
			padding: 0.5rem 0.8rem;
			@include text-style-14();
			font-weight: 500;
			border: 1px solid $deepblue;
			border-radius: 10px;
			text-align: start;

			.bx-plus {
				font-size: 14px;
				color: $white;
			}

			&:hover {
				background-color: $deepblue;
			}
		}

		.card-creator {
			.new-card-title {
				margin: 0 0 6px;
				padding: 6px 8px;
				width: 100%;
				min-height: 36px;
				border: 1px solid $dark;
				background-color: $primary;
				color: $white;
				font-weight: 500;
				border-radius: 6px;
				resize: none;
				word-wrap: break-word;
				cursor: pointer;
				caret-color: $white;

				&:focus {
					border: 1px solid $blue;
				}
			}
		}

		.card-control {
			display: flex;
			align-items: center;

			.add-card-btn {
				padding: 0.4rem 0.8rem;
				@include text-style-14();
				font-weight: 500;
				border: 1px solid $deepblue;
				border-radius: 10px;
				text-align: start;
				background-color: $blue;
			}

			.card-creator-close-btn {
				font-size: 14px;
				color: $light-gray;
			}
		}
	}
}
