$black: #000;
$dark: #0f1207;
$primary: #22272b;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f3f3f1;
$white: #fff;

$light-gray: #eff0ec;
$gray: #1d2125;
$dark-gray: #16191d;

$red: #f86d7d;
$green: #22c58b;
$blue: #579dff;
$deepblue: #3388ff;
