@import './constants/colors';
@import './constants/typography';

@import './base/normalize';
@import './base/reset';

@import './mixins/text-style';

@import './components/header';
@import './components/main';
@import './components/list';
@import './components/card';
@import './components/listCreator';

#root {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	font-family: $font-main;
	font-family: $font-sub;
}
