@import './constants/colors';
@import './constants/typography';

@import './base/normalize';
@import './base/reset';

@import './mixins/text-style';

@import './components/_header';
@import './components/_main';
@import './components/_list';

#root {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}
